{% extends 'Admin.html.twig' %}

{% block title %}Event index{% endblock %}
{% block sidebar  %} 
	<section id="sidebar">
		<a href={{path('Admin')}} class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">ArtyVenci_Admin</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="{{path('Admin')}}">
					<i class='bx bx-user' ></i>
					<span class="text">Users</span>
				</a>
			</li>
			<li>
				<a href="{{path('AdminProds')}}">
					<i class='bx bxl-product-hunt' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="{{path('ForumsAdmin')}}">
					<i class='bx bx-message-square-detail' ></i>
					<span class="text">Forums</span>
				</a>
			</li>
			<li class="active" >
			<a href="{{path('app_event_index')}}">
					<i class='bx bx-calendar-event'></i>
					<span class="text">Events</span>
				</a>
			</li>
			<li>
				<a href="{{ path('AdminAuc') }}">

					<i class='bx bx-edit-alt' ></i>
					<span class="text">Auction</span>
				</a>
			</li>
			<li  >
				<a href="{{ path('app_list_disc') }}">
					<i class='bx bx-chat'></i>
					<span class="text">Discussion</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href={{path('login')}} class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	{% endblock %}
{% block content %}
<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Latest Participations</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Id</th>
											<th class="d-none d-xl-table-cell">Event</th>
											<th class="d-none d-xl-table-cell">User</th>
											
										</tr>
									</thead>
									<tbody>
                                     {% for p in participations %}
										<tr>
											<td>{{p.idParticipation}}</td>
											<td class="d-none d-xl-table-cell">{{p.idEvent.eName}}</td>
											<td class="d-none d-xl-table-cell">{{p.idUser.username}}</td>
											<td></td>
											
										</tr>
										{% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
                        
					</div>


 
						
{% endblock %}
