{% extends 'Admin.html.twig' %}
{% block content %}
<li style="
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
">
			<div class="left">
					<h1 style="
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
">Table of Posts of Forum : {{NameForum}}</h1>
					
				</div>
				

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
		
        <tr>
		    <th style="background:#144CCC;" ></th>
            <th style="background:#144CCC;">User</th>
            <th style="background:#144CCC;">Title</th>
            <th style="background:#144CCC;">Message</th>
            <th style="background:#144CCC;">Likes</th>
            <th style="background:#144CCC;">Date</th>
			<th style="background:#144CCC;" ></th>
        </tr>
        </thead>




		
        <tbody>
       {% for p in posts %}
        <tr>
		<td style=" width: 10px;">  <img src="{{asset('img/UserIcon.png')}}"></img></td>
            <td>{{p.idUser.username}}</td>
            <td>{{p.title}}</td>
            <td>{{p.textmessage}}</td>
            <td>{{p.likeNumber}}</td>
            <td>{{p.timeofcreation| date("d/m/Y H:i:s")}}</td>
			<td style=" width: 10px;"> <a href={{path('app_delete_post',{id:p.idPost})}}  >  <img src="{{asset('img/deleteUser.png')}}" ></img> </a> </td>
           </tr>
		    {% endfor %}
      
             <tbody>
	  	
         </table>
	
	             </div>
            </li>


			
		</main>
		<!-- MAIN -->




	
</div>
	
	</li> 


{% endblock %}