{% extends 'Home.html.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{ asset('css/auctionStyle.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style2.css') }}">
{% endblock %}


{% block navbar %}
   
    {% if id_user %}
	    <li><a href="{{path('app_product_index',{'id_user': id_user })}}" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}"class="active" >Auction</a></li>
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
    {% endif %}
{% endblock %}

{% block body %}
	
		<!-- meta data -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!--font-family-->
		<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> <!-- title of site -->
		<title>Directory Landing Page</title>

		<!-- For favicon png -->
		<link
		rel="shortcut icon" type="image/icon" href="{{ asset('logo/favicon.png') }}"/>

		<!--font-awesome.min.css-->
		<link
		rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

		<!--linear icon css-->
		<link
		rel="stylesheet" href="{{ asset('css/linearicons.css') }}">

		<!--animate.css-->
		<link
		rel="stylesheet" href="{{ asset('css/animate.css') }}">

		<!--flaticon.css-->
		<link
		rel="stylesheet" href="{{ asset('css/flaticon.css') }}">

		<!--slick.css-->
		<link rel="stylesheet" href="{{ asset ('css/slick.css') }}">
		<link
		rel="stylesheet" href="{{ asset ('css/slick-theme.css') }}">

		<!--bootstrap.min.css-->
		<link
		rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

		<!-- bootsnav -->
		<link
		rel="stylesheet" href="{{ asset('css/bootsnav.css') }}">

		<!--style.css-->
		<link
		rel="stylesheet" href="{{ asset ('css/style.css') }}">

		<!--responsive.css-->
		<link rel="stylesheet" href=" {{ asset ('css/responsive.css') }}">

	





	
	
		<section class="top-area">
			<div
				class="header-area">
				<!--explore start -->
				<section id="explore" class="explore">
					<div
						class="container1" >
						<!--/.section-header-->
						<div class="explore-content">
							<div class="row">

								{% for item in auctions %}
									{% set i = (auctions.currentPageNumber - 1) * auctions.getItemNumberPerPage() + loop.index %}
									<div class=" col-md-4 col-sm-6">
										<div class="single-explore-item">
											<div class="single-explore-img">
												<img src="{{asset ('img/explore/e1.jpg') }}" alt="explore image">
												<div class="single-explore-img-info">
													<a href="{{ path('app_auction_show', {'idAuction': item.idAuction}) }}" class="btn btn-primary">Participer</a>
												</div>
											</div>
											<div class="single-explore-txt bg-theme-1">
												<h2>
													<a href="#">{{ item.nom }}</a>
												</h2>
												<p class="explore-rating-price">
													<span class="explore-rating">
														{% if AvgRating[i] != null %}
															{{ AvgRating[i] }}<i class="fa fa-star"></i>
														{% else %}
															0
															<i class="fa fa-star"></i>
														{% endif %}
													</span>
													<a href="#">
														{{ PartsRating[i] }}
														Love</a>
													<span class="explore-price-box">
														form
														<span class="explore-price">{{ item.prixInitial }}</span>
														to
														<span class="explore-price">{{ item.prixFinal }}</span>
													</span>
													<a href="#">{{ item.nom }}</a>
												</p>
												<div class="explore-person">
													<div class="row">
														<div class="col-sm-2">
															<div class="explore-person-img">
																<a href="#">
																	<img src="{{ asset('img/explore/person.png') }}" alt="explore person">
																</a>
															</div>
														</div>
														<div class="col-sm-10">
															<p>{{ item.nom }}</p>
														</div>
													</div>
												</div>
												<div class="explore-open-close-part">
													<div class="row">
														<div class="col-sm-5">
															{% set now = "2024-04-30 12:00:00" %}
															{% if item.dateLancement > now %}
																{% set label = "Soon" %}
															{% elseif item.dateLancement < now and item.dateCloture > now %}
																{% set label = "Live" %}
															{% elseif item.dateCloture < now %}
																{% set label = "Close" %}
															{% else %}
																{% set label = "Unknown" %}
															{% endif %}
															<button class="close-btn" onclick="window.location.href='#'">{{ label }}</button>
														</div>
														<div class="col-sm-7">
															<div class="explore-map-icon">
																<a href="#">
																	<i data-feather="map-pin"></i>
																</a>
																<a href="#">
																	<i data-feather="upload"></i>
																</a>
																<a href="#" id="heartIcon" data-id="{{ item.idAuction }}">
																	<i data-feather="heart"></i>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% if loop.index % 3 == 0 and not loop.last %}
									</div>
									<div class="row">
									{% endif %}
									{% set i = i + 1  %}
								{% endfor %}
							</div>
							<div>{{ knp_pagination_render(auctions)}}</div>
						</div>
					</div>
				</div>
				<!--/.container-->
				<a href="{{ path('api_character', {'id': 6 }) }}">TEST HERE !
				</a>

			</section>
			<!--/.explore-->
			<!--explore end -->

			
		

			<!-- Include all js compiled plugins (below), or include individual files as needed --><script src="{{ asset('js/jquery.js') }}"> </script>

			<!--modernizr.min.js-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

			<!--bootstrap.min.js-->
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>

			<!-- bootsnav js -->
			<script src="{{ asset('js/bootsnav.js') }}"></script>

			<!--feather.min.js-->
			<script src="{{ asset('js/feather.min.js') }}"></script>

			<!-- counter js -->
			<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
			<script src="{{ asset('js/waypoints.min.js') }}"></script>

			<!--slick.min.js-->
			<script src="{{ asset('js/slick.min.js') }}"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

			<!--Custom JS-->
			<script src="{{ asset('js/custom.js') }}"></script>
			<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the heart icon element
        var heartIcon = document.getElementById('heartIcon');

        // Add click event listener to the heart icon
        heartIcon.addEventListener('click', function(event) {
            event.preventDefault();

            // Toggle the 'active' class to change the heart color
            heartIcon.classList.toggle('active');

            // Get the character ID from the data-id attribute
            var characterId = heartIcon.getAttribute('data-id');

            // Send an AJAX request to your Symfony controller
            var xhr = new XMLHttpRequest();
            xhr.open('POST',"{{ path('save_love_click', {'idUser': 13 }) }}", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Handle the response if needed
                    console.log('Love click registered successfully');
                }
            };
            xhr.send();
        });
    });
</script>

		

</html>
{% endblock %}
