{% extends 'home.html.twig' %}

{% block title %}{{ discussion.receiver.username }}{% endblock %}

{% block body %}
    <style>
        .message-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .custom-button-extremite {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

        .message {
            margin-bottom: 10px;
            max-width: 70%;
            padding: 10px;
            border-radius: 15px;
            word-wrap: break-word;
        }

        .sender-message {
            background-color: rgba(39, 167, 118, 0.8);
            color: white;
            align-self: flex-end;
            margin-left: auto;
        }

        .receiver-message {
            background-color: rgb(255, 240, 212);
            color: black;
            align-self: flex-start;
            margin-right: auto;
        }

        .message p {
            margin: 0;
        }

        .message img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .message p em {
            font-size: 12px;
            color: #777;
            margin-top: 5px;
        }

        .custom-button {
            background-color: rgba(39, 167, 118, 0.8);
            color: white;
            margin-right: 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            opacity: 0.8;
        }

        .custom-button-retour {
            margin-left: true;
        }

        .custom-button-envoyer {
            width: 50px;
            height: 40px;
            margin-left: 30px;
            opacity: 0.8;
        }

        .custom-button-emoji {
            opacity: 0.8;
            margin-left: 10px;
        }

        .message-form {
            max-width: 70%;
            margin: auto;
        }

        .form-group {
            margin-bottom: 20px;
            position: relative;
        }

        .form-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            width: 80%;
            max-width: 300px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: rgba(39, 167, 118, 0.1);
            height: auto;
            resize: none;
            font-size: 14px;
        }

        .submit-button {
            background-color: rgba(39, 167, 118, 0.8);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        .submit-button:hover {
            background-color: rgba(39, 167, 118, 1);
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element"></script>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>{{ discussion.receiver.username }}</h1>
    <br>
    <a href="{{ path('app_discussion_index') }}" class="custom-button custom-button custom-button-extremite custom-button-retour">
        <img src="{{ asset('img/discussion/bouton-retour.png') }}" alt="Retour aux discussions" style="width: 30px; height: auto;">
    </a>
    <a href="{{ path('app_discussion_delete', {'iddis': discussion.iddis}) }}" class="custom-button">Supprimer</a>
    <a href="{{ path('app_discussion_signal', {'iddis': discussion.iddis}) }}" class="custom-button ">Signaler</a>
    <div class="message-container" style="margin-top: 50px;">
        {% for message in messages %}
            {% if message.idsender == discussion.idsender %}
                <div class="message sender-message">
                    <p>{{ message.content }}</p>
                    <p><em>Envoyé le {{ message.datasent ? message.datasent|date('Y-m-d H:i:s') : '' }}</em></p>
                </div>
            {% else %}
                <div class="message receiver-message">
                    <p>{{ message.content }}</p>
                    <img src="{{ asset(discussion.receiver.ImageURL) }}" alt="Image de {{ discussion.receiver.username }}">
                    <p><em>Envoyé le {{ message.datasent ? message.datasent|date('Y-m-d H:i:s') : '' }}</em></p>
                </div>
            {% endif %}
        {% else %}
            <p>Aucun message trouvé pour cette discussion.</p>
        {% endfor %}
    </div>

    <br>
    <br>

    {{ form_start(form, {'attr': {'class': 'message-form'}}) }}

    <div class="form-group" style="display: flex; align-items: center;">
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 3}, 'label': false}) }}
        <button type="submit" class="custom-button custom-button-envoyer">        
            <img src="{{ asset('img/discussion/envoyer.png') }}" alt="Retour aux discussions" style="width: 35px; height: auto;">
        </button>

        <button id="emoji-picker-button" class="custom-button custom-button-emoji">        
            <img src="{{ asset('img/discussion/emoji.png') }}" alt="emojis" style="width: 35px; height: auto;">
        </button>
    </div>

    {{ form_end(form) }}

    <script>
        const button = document.querySelector('#emoji-picker-button');
        const picker = new EmojiPicker();
        picker.on('emoji', emoji => {
            document.querySelector('.form-control').value += emoji;
        });
        button.addEventListener('click', () => {
            picker.togglePicker(button);
        });
    </script>

{% endblock %}
