

{% extends 'home.html.twig' %}

{% block title %}Messages de la discussion {{ discussion.iddis }}{% endblock %}

{% block body %}
    <h1>Messages de la discussion {{ discussion.iddis }}</h1>

     <a href="{{ path('app_discussion_signal', {'iddis': discussion.iddis}) }}" class="btn btn-primary">Signaler</a>

    <div class="message-container">
        {% for message in messages %}
            <div class="message">
                {% if message.idsender == discussion.idsender %}
                    <p class="sender-message">{{ message.content }}</p>
                    <p> Envoyé par {{ discussion.idsender }}</p>
                {% else %}
                    <p class="receiver-message">{{ message.content }}</p>
                    <p> Envoyé par {{ discussion.idreciever }}</p>
                {% endif %}
                <p><em>Envoyé le {{ message.datasent ? message.datasent|date('Y-m-d H:i:s') : '' }}</em></p>
            </div>
        {% else %}
            <p>Aucun message trouvé pour cette discussion.</p>
        {% endfor %}
    </div>

    {{ form(form) }}

{# <a href="{{ path('app_message_index') }}">Retour à la liste des messages</a> #}
    <a href="{{ path('app_discussion_index') }}">Retour aux discussions</a>
{% endblock %}
