{% extends 'Home.html.twig' %}

{% block title %}Display Forums{% endblock %}

{% block body %}
<style>
  .DisplayTable  {
    text-align: center; 
    padding : 10px;
    margin : 10px;
  }
  th,td {
    padding-right: 15px;
    width :100%;
  }
  .fcc-btn {
    background-color: lightblue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    position : absolute;
    right : 1em;
  }
  .titleButt {
  background-color: transparent;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}

</style>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
        <a class="fcc-btn" href="{{path('app_add_forum')}}">+</a>
        <table class="DisplayTable">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Posts Number</th>
              <th>Date</th>
            </tr>
            {% for f in forums %}
                <tr>
                    <td><a class="titleButt" href="{{path('app_list_posts_by_forum',{'idf':f.getIdForum})}}">{{ f.title }}</a></td>    
                    <td>{{ f.description }}</td>
                    <td>{{ f.repliesNumber }}</td>
                    <td>{{ f.getDate| date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
        {% for f in forums %}
          {% include 'forum/forumTemplate.html.twig' %}
        {% endfor %}
        </div>
      </div>
    </div>
    <div>
      {{ knp_pagination_render(forums) }}
    </div>
  </section><!-- End Hero Section -->
{% endblock %}